.container {
    width: 800px;
    margin: auto;
    font-family: Text, sans-serif;
}
header {
    display:flex;
}

.logo {
    flex: 1;
}

.title {
    flex: 4;
    text-align: right;
    text-transform: uppercase;
}

.items-container{
    display:flex;
    justify-content: space-between;
    text-align: left;
}

.item{
    text-align: center;
}
/* Reset */
* {
    margin: 0px;
    padding: 0px;
 }
 
@font-face{
    font-family: "Main title";
    src: url(https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap)
    format("truetype");

}
@font-face{
    font-family: "Text";
    src: url(./fonts/Lato-Light.ttf) format("truetype");
    
}

.title h1 {
    font-family: "Main title", sans-serif;
    font-size: 2.5rem;
    color: #bcbbbb;
}
.title h3{
    font-size: small;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #bcbbbb;
}
.item h3{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #747704;
}

